---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: app_name-es
  namespace: namespace_name
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: app_name-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Home Assistant
        # app_upper_name_DARKSKY_API_KEY: "{{ .app_upper_name_DARKSKY_API_KEY }}"
        # app_upper_name_ECOBEE_API_KEY: "{{ .app_upper_name_ECOBEE_API_KEY }}"
        app_upper_name_ELEVATION: "{{ .app_upper_name_ELEVATION }}"
        # app_upper_name_GOOGLE_PROJECT_ID: "{{ .app_upper_name_GOOGLE_PROJECT_ID }}"
        # app_upper_name_GOOGLE_SECURE_DEVICES_PIN: "{{ .app_upper_name_GOOGLE_SECURE_DEVICES_PIN }}"
        app_upper_name_LATITUDE: "{{ .app_upper_name_LATITUDE }}"
        app_upper_name_LONGITUDE: "{{ .app_upper_name_LONGITUDE }}"
        app_upper_name_POSTGRES_URL: "postgresql://{{ .app_upper_name_PG_USER }}:{{ .app_upper_name_PG_PASS }}@{{ .PG_RW_INTERNAL_HOST }}/{{ .app_upper_name_PG_DB }}"
        # Postgres Init
        POSTGRES_DB: "{{ .app_upper_name_PG_DB }}"
        POSTGRES_HOST: "{{ .PG_RW_INTERNAL_HOST }}"
        POSTGRES_PORT: "{{ .PG_PORT }}"
        POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        POSTGRES_USER: "{{ .app_upper_name_PG_USER }}"
        POSTGRES_PASS: "{{ .app_upper_name_PG_PASS }}"
        # SMTP
        SMTP_HOST: "{{ .EXTERNAL_SMTP_HOST }}"
        SMTP_PORT: "{{ .EXTERNAL_SMTP_PORT }}"
        SMTP_USER: "{{ .EXTERNAL_SMTP_USER }}"
        SMTP_PASS: "{{ .EXTERNAL_SMTP_PASS }}"
  dataFrom:
    - extract:
        key: app_name
    - extract:
        key: cloudnative-pg
    - extract:
        key: external-smtp
