---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: wikijs
  namespace: media
spec:
  values:
    initContainers:
      init-db:
        image: ghcr.io/onedr0p/postgres-initdb:14.7@sha256:b6cac2aa2373baf49f419e8aa29c5974397a6570d6f2607df861f184137d80fe
        envFrom:
          - secretRef:
              name: wikijs-secret
